a {
    color: #666;
    text-decoration: none;
}
/*gb-top-nav begin*/
#gb-top-nav {
    height: 28px;
    background-color: #F1F1F1;
    min-width: 960px;
}
#gb-top-nav a:hover {
    color: #3385ff;
}
#gb-top-nav .top-nav-info {
    margin: 0 auto;
    line-height: 28px;
    width:960px;
}
#gb-top-nav .top-nav-info .top-nav-ul {
    float: right;
}
#gb-top-nav .top-nav-info .top-nav-ul li {
    float: left;
    padding-left: 12px;
}
/*gb-top-nav end*/

/*gb-top-menu begin*/
#gb-top-menu {
    height: 80px;
    background-color: #3385ff;
    min-width: 960px;
}
#gb-top-menu .top-menu-info {
    margin: 0 auto;
    line-height: 28px;
    width:960px;
}
#gb-top-menu .top-menu-info .top-menu-ul {
    float: right;
}
#gb-top-menu .top-menu-info .top-menu-ul li {
    color: #ffffff;
    float: left;
    padding-left: 50px;
    font-size: 15px;
    padding-top: 25px;
}
#gb-top-menu .top-menu-info .top-menu-ul li a {
    color: #ffffff;
}
/*gb-top-menu end*/

.gb-top-poster {
    background-color: #f0f3f5;
}
.nav {
    width: 100%;
    min-width: 960px;
    overflow: hidden;
    zoom: 1;
    margin-bottom: 20px;
}
#wrapper {
    width: 960px;
    margin: 0 auto;
}
#content {
    overflow:hidden;
    min-height: 420px;
}
#footer {
    color: #999;
    padding: 6px 0;
    margin-top: 40px;
    overflow: hidden;
    zoom: 1;
    border-top: 1px dashed #ddd;
}
#content .article {
    float: left;
    width: 620px;
    padding-right: 30px;
}
#content .aside {
    float: right;
    width: 310px;
}
#content .aside .asd_div {
    background-color: #f2f7f6;
    border-radius: 4px;
    padding: 10px;
    vertical-align: top;
    margin-bottom: 20px;
}
#content .aside .asd_div .search_ipt {
    background: #fff;
    width: 230px;
    margin: 0;
    height: 30px;
    padding-left: 10px;
    height: 28px\9;
    line-height: 28px\9;
    outline: 0;
}
#content .aside .asd_div .search_btn {
    margin-left: -3px;
    font-size: 14px;
    padding: 0;
    background-color: #ddd;
    background-position: 0 -48px;
    border: 0;
    cursor: pointer;
    width: 40px;
    height: 34px;
    color: white;
    letter-spacing: 1px;
    background: #3385ff;
    border-bottom: 1px solid #2d78f4;
    outline: medium;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

/*
+----------------------------------------------------------------+
    Slideshow
+----------------------------------------------------------------+
*/

.slider {
    margin: 0 auto;
    width: 960px
}
.slider-container {
    height: 425px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 960px;
}
.slider-container .slider-wrapper {
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 5000em; /*Fix for prevent display errors*/
    -webkit-transition: all 800ms ease;
    -moz-transition: all 800ms ease;
    -o-transition: all 800ms ease;
    transition: all 800ms ease;
}
.slider-container .slide {
    float: left;
    height: 425px;
    overflow: hidden;
    position: relative;
    width: 960px;
}
.slider-nav {
    text-align: center;
    width: 960px;
    position: absolute;
    margin-top: -30px;
}
.slider-nav li {
    display: inline;
    padding: 3px;
}
.slider-nav .bullet {
    background-color: #FFFFFF;
    border-radius: 50%;
    display: inline-block;
    text-indent: -9000px;
    overflow: hidden;
    height: 16px;
    width: 16px;
}
.slider-nav .active {
    background-color: #6E6E6E
}
.slider-nav .prev, .slider-nav .next {
    background: url('../images/sprite.png') no-repeat;
    /*display: inline-block;*/
    display: none;
    text-indent: -9000px;
    overflow: hidden;
    height: 16px;
    width: 16px;
}
.slider-nav .next {
    background-position: -15px top
}
/***Slideshow end***/